In [1]:
import pandas as pd

In [10]:
cases = pd.read_csv("data/caso.csv")

In [3]:
cases = cases[cases["date"] == "2021-02-17"]

In [11]:
cases = cases[cases["place_type"] == "state"]

In [12]:
cases = cases[cases["is_last"] == True]

In [13]:
cases

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2021-02-17,AP,NaN,state,81211,1116,331,True,845731.0,861773.0,16.0,9423.71135,0.0137
5014,2021-02-17,AC,NaN,state,53892,940,338,True,881935.0,894470.0,12.0,6025.02040,0.0174
11763,2021-02-17,AM,NaN,state,299495,10181,337,True,4144597.0,4207714.0,13.0,7117.76038,0.0340
30734,2021-02-17,DF,NaN,state,286720,4718,347,True,3015268.0,3055149.0,53.0,9384.81233,0.0165
31753,2021-02-17,AL,NaN,state,126326,2893,344,True,3337357.0,3351543.0,27.0,3769.18930,0.0229
60719,2021-02-16,CE,NaN,state,408555,10868,338,True,9132078.0,9187103.0,23.0,4447.04930,0.0266
116718,2021-02-17,ES,NaN,state,312614,6209,349,True,4018650.0,4064052.0,32.0,7692.17520,0.0199
140009,2021-02-17,GO,NaN,state,376313,8133,343,True,7018354.0,7113540.0,52.0,5290.09466,0.0216
206125,2021-02-17,BA,NaN,state,639227,10928,347,True,14873064.0,14930634.0,29.0,4281.31183,0.0171
322266,2021-02-16,MS,NaN,state,172402,3166,340,True,2778986.0,2809394.0,50.0,6136.62591,0.0184
343867,2021-02-17,MT,NaN,state,237239,5544,332,True,3484466.0,3526220.0,51.0,6727.85589,0.0234
368024,2021-02-17,MA,NaN,state,214058,4883,335,True,7075181.0,7114598.0,21.0,3008.71532,0.0228
431107,2021-02-17,MG,NaN,state,816901,17109,345,True,21168791.0,21292666.0,31.0,3836.53696,0.0209
644245,2021-02-17,PA,NaN,state,351472,8087,337,True,8602865.0,8690745.0,15.0,4044.21025,0.0230
687019,2021-02-17,PE,NaN,state,284840,10744,343,True,9557071.0,9616621.0,26.0,2961.95514,0.0377
741944,2021-02-17,PB,NaN,state,207411,4288,343,True,4018127.0,4039277.0,25.0,5134.85458,0.0207
800832,2021-02-17,PI,NaN,state,167624,3222,336,True,3273227.0,3281480.0,22.0,5108.18289,0.0192
862396,2021-02-17,RO,NaN,state,139520,2586,326,True,1777225.0,1796460.0,11.0,7766.38500,0.0185
876370,2021-02-17,RJ,NaN,state,564513,31701,340,True,17264943.0,17366189.0,33.0,3250.64411,0.0562
905443,2021-02-16,RN,NaN,state,158573,3446,305,True,3506853.0,3534165.0,24.0,4486.85899,0.0217
940935,2021-02-17,PR,NaN,state,601554,10902,341,True,11433957.0,11516840.0,41.0,5223.25568,0.0181
1051403,2021-02-17,RR,NaN,state,78394,1024,331,True,605761.0,631181.0,14.0,12420.20910,0.0131
1056506,2021-02-17,SE,NaN,state,146558,2893,330,True,2298696.0,2318822.0,28.0,6320.36439,0.0197
1076632,2021-02-17,SC,NaN,state,622727,6804,343,True,7164788.0,7252502.0,42.0,8586.37474,0.0109
1160699,2021-02-16,TO,NaN,state,107832,1461,336,True,1572866.0,1590248.0,17.0,6780.82915,0.0135
1199631,2021-02-17,RS,NaN,state,590134,11479,341,True,11377239.0,11422973.0,43.0,5166.20323,0.0195
1324788,2021-02-17,SP,NaN,state,1938712,56960,352,True,45919049.0,46289333.0,35.0,4188.24786,0.0294

In [14]:
cases.sum()

date                              2021-02-172021-02-172021-02-172021-02-172021-0...
state                             APACAMDFALCEESGOBAMSMTMAMGPAPEPBPIRORJRNPRRRSE...
city                                                                              0
place_type                        statestatestatestatestatestatestatestatestates...
confirmed                                                                   9984817
deaths                                                                       242285
order_for_place                                                                9130
is_last                                                                          27
estimated_population_2019                                               2.10147e+08
estimated_population                                                    2.11756e+08
city_ibge_code                                                                  786
confirmed_per_100k_inhabitants                                               158579
death_rate                                                                   0.5964
dtype: object

In [20]:
cases = cases[cases["date"] == "2021-02-16"]

In [21]:
cases

Empty DataFrame
Columns: [date, state, city, place_type, confirmed, deaths, order_for_place, is_last, estimated_population_2019, estimated_population, city_ibge_code, confirmed_per_100k_inhabitants, death_rate]
Index: []

In [13]:
cases['confirmed'].sum()

9489180