In [1]:
import pandas as pd

In [36]:
cases = pd.read_csv("data/caso.csv")

In [37]:
cases = cases[cases["date"] == "2021-02-15"]

In [38]:
cases = cases[cases["place_type"] == "state"]

In [39]:
cases = cases[cases["is_last"] == True]

In [40]:
cases

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
385147,2021-02-15,MS,NaN,state,171828,3160,339,True,2778986.0,2809394.0,50.0,6116.19445,0.0184
901010,2021-02-15,RN,NaN,state,158296,3438,304,True,3506853.0,3534165.0,24.0,4479.02121,0.0217
1279775,2021-02-15,TO,NaN,state,107560,1458,335,True,1572866.0,1590248.0,17.0,6763.72490,0.0136

In [34]:
cases.sum()

date                              2021-02-162021-02-162021-02-162021-02-162021-0...
state                             ACAPAMDFALESCEMAGOBAMSMTPAMGPIPEPBRORJRNPRRRSE...
city                                                                              0
place_type                        statestatestatestatestatestatestatestatestates...
confirmed                                                                   9926864
deaths                                                                       241089
order_for_place                                                                9104
is_last                                                                          27
estimated_population_2019                                               2.10147e+08
estimated_population                                                    2.11756e+08
city_ibge_code                                                                  786
confirmed_per_100k_inhabitants                                               157761
death_rate                                                                   0.5965
dtype: object

In [20]:
cases = cases[cases["date"] == "2021-02-16"]

In [21]:
cases

Empty DataFrame
Columns: [date, state, city, place_type, confirmed, deaths, order_for_place, is_last, estimated_population_2019, estimated_population, city_ibge_code, confirmed_per_100k_inhabitants, death_rate]
Index: []

In [13]:
cases['confirmed'].sum()

9489180